# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# python pipelines
pipelines/.venv/
__pycache__/

# logs
npm-debug.log*

# environment variables
.env
.env.production

# macOS
.DS_Store

# jetbrains
.idea/
